@model Blog.Web.ViewModels.Home.MainViewModel
@{
    Layout = "~/Views/Shared/Global.cshtml";
    ViewBag.Title = "About";
}
<h1>Post #1: My Title Here</h1>
<p>2013-03-10 3:30PM CST</p>
<p>Hello world, this is my first post. There should be a bucket of links on the bottom of each page now, so check out the other stuff.</p>
<p>Next to come are:</p>
<ul>
    <li>Simple styling (kill the serif default, etc.)</li>
    <li>Simple JS: Let code be prettified!</li>
</ul>