@model Blog.Web.ViewModels.Home.MainViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Main</title>
</head>
<body>
    <div>
        oh hai, welcome
    </div>
    <blink>DEPLOOOOOY</blink>
</body>
</html>
