@model GiftGivr.Web.Models.HomeViewModel
@{
    Layout = "~/Views/Shared/Global.cshtml";
}
<h1>Welcome to GiftGivr</h1>
<p>Want to give a gift? Check out your friends and family:</p>

<h2>Friends and Family</h2>
<ul>
@foreach (var u in Model.AllUsers)
{
    <li>
        @Html.ActionLink(u.Value, "View", "Gifts", new { userId = u.Key }, new { })
    </li>
}
</ul>

<h2>Invite Someone Else!</h2>
<p>@Html.ActionLink("Send an invite!", "Add", "Account")</p>