@model GiftGivr.Web.Models.TestUserViewModel
@{
    ViewBag.Title = "Test Login";
    Layout = "~/Views/Shared/Global.cshtml";
}
@using(Html.BeginForm())
{
    <table>
        <tr>
            <td>
                Email:
            </td>
            <td>
                @Html.TextBoxFor(a => a.Email)
            </td>
        </tr>
        <tr>
            <td>
                Name:
            </td>
            <td>
                @Html.TextBoxFor(a => a.Name)
            </td>
        </tr>
        <tr>
            <td>
                Password:
            </td>
            <td>
                @Html.TextBoxFor(a => a.Password)
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button type="submit">Create!</button>
            </td>
        </tr>
    </table>
}