@model GiftGivr.Web.Models.LoginViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GenerateTestLogin</title>
</head>
<body>
    <div>
        Email : @Model.Email
        <br />
        Pass: @Model.Password
    </div>
</body>
</html>
