@model GiftGivr.Web.Models.LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/Global.cshtml";
}

@using(Html.BeginForm())
{    
    <h2>Login</h2>
    <table>
        <tr>
            <td>
                Email:
            </td>
            <td>
                @Html.TextBoxFor(a => a.Email)
            </td>
        </tr>
        <tr>
            <td>
                Password:
            </td>
            <td>
                @Html.PasswordFor(a => a.Password)
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button type="submit">Login!</button>
            </td>
        </tr>
    </table>
}