@model Blog.Web.ViewModels.Cdn.ListViewModel
@{
    ViewBag.Title += "Admin: CDN Directories";
    Layout = "~/Views/Shared/Global.cshtml";
}
<div class="admin-wrapper">
    <h2>@Html.ActionLink("Admin", "Index", "Admin") » Directories</h2>
    <p>Click to drill down</p>
    <table>
        <thead>
            <tr>
                <td>Name</td>
                <td>URI</td>
            </tr>
        </thead>
        <tbody>
            @foreach(var i in Model.Containers)
            {
            <tr>
                <td>
                    @Html.ActionLink(i.Name, "Resources", new { directory = i.Name })
                    @i.Name
                </td>
                <td>
                    @i.Uri
                </td>
            </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2">
                    <a href="#">New</a>
                </td>
            </tr>
        </tfoot>
    </table>
</div>