@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Global.cshtml";
}

<h2>Admin</h2>

<ul>
    <li>@Html.ActionLink("Manage Blogs", "Blogs")</li>
    <li>@Html.ActionLink("Manage Posts", "Posts")</li>
    <li>@Html.ActionLink("QuickLink: New Post", "Post")</li>
</ul>