@{
    Layout = "~/Views/Shared/Global.cshtml";
    ViewBag.Title = "About";
}
<h1>eouw0o83hf.com</h1>
<h2>Who?</h2>
<p>Nathan Landis. eouw0o83hf</p>
<h2>What?</h2>
<p>It's my blog. I'm building this site from a static application out to a more sophisticated web app as features necessitate.</p>
<h2>Why?</h2>
<p>As a software engineer, I love to gold plate things all the time. This is an exercise in the exact opposite: provide a functional website for myself without the gold plating.</p>
<h2>Why? Part 2</h2>
<p>I've tried numerous times to publish a blog before. Every time it's been crippled by my inability to provide a complete feature set in my spare time. So I've decided that the better method would be to <strong>just publish content</strong>, and then let the needs of the content drive the future buildout of the site.</p>
<h2>Where?</h2>
<p>This is hosted completely by Microsoft. My code is sitting in visualstudio.com, and the site is an Azure website. I'm using the CI that microsoft easily provides between those two. It's pretty slick, and I'm excited to build it out more. (Azure provides DBs pretty seamlessly, and it looks like you can even make Azure run service buses for you!)</p>
<h2>More about me</h2>
<p>I'm a software engineer at <a href="http://spotlite.com/">Spotlite</a>. You can find me on all sorts of social networks, like:</p>
<ul>
    <li>Twitter: <a href="https://twitter.com/eouw0o83hf">@@eouw0o83hf</a></li>
    <li>StackOverflow: <a href="http://stackoverflow.com/users/570190/eouw0o83hf">eouw0o83hf</a></li>
    <li>LinkedIn: <a href="http://www.linkedin.com/profile/view?id=17570555">17570555</a></li>
    <li>Facebook: <a href="http://www.facebook.com/nrlandis">nrlandis</a></li>
    <li>Project Euler: <a href="http://projecteuler.net/profile/eouw0o83hf">eouw0o83hf</a></li>
</ul>