@{
    Layout = "~/Views/Shared/Global.cshtml";
    ViewBag.Title = "Version history";
}
<h1>Version History</h1>

<h2>1.0.0 (changeset 50)</h2>
<h3>Summary</h3>
<p>Initial release, single main page.</p>
<h3>Date</h3>
<p>2013-03-10 1:33PM CST</p>
<h3>Details</h3>
<ul>
    <li>Single static page to PoC the CI pipeline</li>
    <li>Build working through VisualStudio.com to Azure</li>
    <li>Domain name registrations properly linked to Azure</li>
</ul>

<h2>1.0.1 (changeset 55)</h2>
<h3>Summary</h3>
<p>Tweaking and checking CI pipeline</p>
<h3>Date</h3>
<p>2013-03-10 1:52PM CST</p>
<h3>Details</h3>
<ul>
    <li>CI pipeline apparently does <em>not</em> get run automatically on each checkin</li>
    <li>Writing up an actual brief intro page</li>
</ul>

<h2>1.0.2 (changeset 60)</h2>
<h3>Summary</h3>
<p>Setting up routes and a few pages</p>
<h3>Date</h3>
<p>2013-03-10</p>
<h3>Details</h3>
<ul>
    <li>Split up into a main, about, and version page</li>
    <li>Adding a Global master Razor page</li>
    <li>Creating some routes for the new pages</li>
</ul>

<h2>1.0.3 (changeset 61)</h2>
<h3>Summary</h3>
<p>Adding CSS references</p>
<h3>Date</h3>
<p>2013-03-10</p>
<h3>Details</h3>
<ul>
    <li>Added <a href="https://code.google.com/p/google-code-prettify/">Prettify.js</a> and a VS-themification update thanks to <a href="http://stackoverflow.com/questions/1667097/how-to-get-google-prettify-to-render-more-like-visual-studio">this SO answer</a></li>
    <li>Added Reset.css and a Global.css</li>
    <li>Testing out the new hotness with a FizzBuzz sample that hopefully actually compiles and runs correctly</li>
</ul>

<h2>1.0.4 (changeset 66)</h2>
<h3>Summary</h3>
<p>Trello link, titles</p>
<h3>Date</h3>
<p>2013-03-13</p>
<h3>Details</h3>
<ul>
    <li>Added a link to the Trello board on the global footer</li>
    <li>Fixed titles in all pages to actually work</li>
</ul>
@* Template:

<h2>1.x.x (changeset x)</h2>
<h3>Summary</h3>
<p>{{Summary}}</p>
<h3>Date</h3>
<p>{{Date}}</p>
<h3>Details</h3>
<ul>
    <li>{{Details}}</li>
</ul>
*@