body {
    background-color: #f3f3f9;
    font-family: "Segoe UI", Calibri, Helvetica Neue, Arial,Verdana, sans-serif;
    padding: 0;
    margin: 0;
    border: 0;
    line-height: 23px;
}

#Wrapper {
    width: 1030px;
    margin: 10px auto 0 auto;
}

#Menu {
    margin: 0 20px 0 0;
    background-color: #fcfcfc;
    color: #0f0f0f;
    padding: 15px 20px;
    width: 220px;
    float: left;
}

#Content {
    width: 750px;
    float: left;
}

.post-wrapper {
    margin: 0 0 30px 0;
    background-color: #fcfcfc;
    color: #0f0f0f;
    padding: 20px;
}

.admin-wrapper {
    margin: 0 0 30px 0;
    background-color: #fcfcfc;
    color: #0f0f0f;
    padding: 20px;
}
    .admin-wrapper h2 {
        text-decoration: underline;
        margin: 0 0 14px 0;
    }

    .admin-wrapper h3 {
        margin: 10px 0 1px 0;
    }

h1 {
    font-weight: bold;
    font-size: 22px;
    text-decoration: underline;
    margin: 0 0 5px 0;
}

h2 {
    font-weight: bold;
    font-size: 20px;
    margin: 0 0 3px 0;
}

h3 {
    font-weight: bold;
    font-size: 18px;
    margin: 0 0 1px 0;
}

#Menu ul, #Menu ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

pre, pre.prettyprint {
    border: 0 none;
}

p {
    color: #1a1a1a;
}

.post-subtitle {
    color: #666666;
    margin: 0 0 2px 0;
}

.post-footer {
    border-top: 1px solid #000000;
    padding: 12px 0 0 0;
}

.post-wrapper ul, .post-wrapper ol {
    margin: 0 0 0 -20px;
}

.outer-container {
    border-radius: 5px;
}

.notification-container {
    margin: 0 0 10px 0;
    background-color: #fcfcfc;
    color: #0f0f0f;
    padding: 20px 20px 10px 20px;
}
    .notification-container span {
        font-weight: bold;
        text-decoration: underline;
    }

.notification-container-information {
    background-color: #e9e9ff;
    border: 1px solid #0000ff;
}
    .notification-container-information span {
        color: #002070;
    }

.notification-container-confirmation {
    background-color: #f0fff0;
    border: 1px solid #30a030;
}

    .notification-container-confirmation span {
        color: #306030;
    }

.notification-container-warning {
    background-color: #fff0d0;
    border: 1px solid #ffa000;
}
    .notification-container-warning span {
        color: #d09000;
    }

.notification-container-error {
    background-color: #fff6f6;
    border: 1px solid #ff0000;
}

    .notification-container-error span {
        color: #d02020;
    }

input[type="text"], select {
    padding: 6px;
    width: 300px;
}

textarea {
    width: 600px;
    height: 300px;
    padding: 10px;
}

.warning {
    color: #f00000;
}