h1 {
    font-weight: bold;
    font-size: 22px;
    text-decoration: underline;
    margin: 0 0 5px 0;
}

h2 {
    font-weight: bold;
    font-size: 20px;
    margin: 0 0 3px 0;
}

h3 {
    font-weight: bold;
    font-size: 18px;
    margin: 0 0 1px 0;
}

pre, pre.prettyprint {
    border: 0 none;
}

p {
    color: #1a1a1a;
}

    p.subtitle {
        color: #666666;
        margin: 0 0 2px 0;
    }
    
ol, ul {
    list-style: disc;
    margin: 0 0 5px 0;
}

li {
    margin: 0 0 0 20px; 
}

#Body {
    width: 750px;
    font-family: "Segoe UI", Calibri, Helvetica Neue, Arial ,Verdana, sans-serif;
}