body {
    background-color: #f3f3f9;
    font-family: "Segoe UI", Calibri, Helvetica Neue, Arial,Verdana, sans-serif;
    padding: 0;
    margin: 0;
    border: 0;
    line-height: 23px;
}

#Wrapper {
    width: 1030px;
    margin: 10px auto 0 auto;
}

#Menu {
    margin: 0 20px 0 0;
    background-color: #fcfcfc;
    color: #0f0f0f;
    padding: 15px 20px;
    width: 220px;
    float: left;
}

#Content {
    width: 750px;
    float: left;
}

.post-wrapper {
    margin: 0 0 30px 0;
    background-color: #fcfcfc;
    color: #0f0f0f;
    padding: 20px;
}

.admin-wrapper {
    margin: 0 0 30px 0;
    background-color: #fcfcfc;
    color: #0f0f0f;
    padding: 20px;
}
    .admin-wrapper h2 {
        text-decoration: underline;
        margin: 0 0 14px 0;
    }

    .admin-wrapper h3 {
        margin: 10px 0 1px 0;
    }

h1 {
    font-weight: bold;
    font-size: 22px;
    text-decoration: underline;
    margin: 0 0 5px 0;
}

h2 {
    font-weight: bold;
    font-size: 20px;
    margin: 0 0 3px 0;
}

h3 {
    font-weight: bold;
    font-size: 18px;
    margin: 0 0 1px 0;
}

#Menu ul, #Menu ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

pre, pre.prettyprint {
    border: 0 none;
}

p {
    color: #1a1a1a;
}

    p.subtitle {
        color: #666666;
        margin: 0 0 2px 0;
    }

.post-wrapper ul, .post-wrapper ol {
    margin: 0 0 0 -20px;
}

.outer-container {
    border-radius: 5px;
}


input[type="text"], select {
    padding: 4px;
}

textarea {
    width: 600px;
    height: 300px;
    padding: 10px;
}