<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="SendGrid_SmtpServer" value="smtp.sendgrid.net" />
    <add key="SendGrid_Username" value="azure_61c5cccb93be83bb40bd496c716b99db@azure.com" />
    <add key="SendGrid_Password" value="qqfacq8u" />
    <add key="Cdn_AccountName" value="eouw0o83hf" />
    <add key="Cdn_AccessKey_Primary" value="Nx83QYnD/QDqUAFvaN7SAROGkaDzEaeMKSW9iljxGs2x2VVgP1QNxxFAMmWr2HVL5nYcJZvBHELut/bfYY8udA==" />
    <add key="Cdn_AccessKey_Secondary" value="/yWnABE0KZSVekFo8A29t2cQGEZsRObr5z+ITWMkzxFhrBN84gx9fyjKROWsgbPas6/DZ5d1CvYxScD2sK7chw==" />
    <add key="Cdn_ImageContainer" value="images" />
  </appSettings>
  <connectionStrings>
    <add name="GiftGivrConnectionString" connectionString="Data Source=(LocalDB)\v11.0;Initial Catalog=GiftGivr;Integrated Security=True" providerName="System.Data.SqlClient" />
    <!--<add name="GiftGivrConnectionString" connectionString="Data Source=LOANER-E420;Initial Catalog=GiftGivr;Integrated Security=True" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="/login" timeout="2880" />
    </authentication>
    <authorization>
      <deny users="?" />      
    </authorization>
    <httpRuntime targetFramework="4.5" />
    <compilation debug="true" targetFramework="4.5" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <location path="authentication/generatetestlogin">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>
