@model GiftGivr.Web.Models.AddAccountViewModel

@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/Global.cshtml";
}
<h1>Invite Someone New!</h1>
@using (Html.BeginForm())
{
    <table>
        <tr>
            <td>
                Email:
            </td>
            <td>
                @Html.TextBoxFor(a => a.Email)
            </td>
        </tr>
        <tr>
            <td>
                Name:
            </td>
            <td>
                @Html.TextBoxFor(a => a.Name)
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button type="submit">Submit</button>
            </td>
        </tr>
    </table>
}