@model GiftGivr.Web.Models.ManageAccountViewModel

@{
    ViewBag.Title = "Manage";
    Layout = "~/Views/Shared/Global.cshtml";
}
<h1>Manage Your Account</h1>
@using (Html.BeginForm("ChangeName", "Account"))
{
    <h2>Change your Name</h2>
    <p>Update the name that is associated with your account. This is how everyone will see your name displayed.</p>
    <table>
        <tr>
            <td>
                New Name:
            </td>
            <td>
                @Html.TextBoxFor(a => a.Name)
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button type="submit">Change your name!</button>
            </td>
        </tr>
    </table>
}
@using (Html.BeginForm("ChangePassword", "Account"))
{
    <h2>Change your Password</h2>
    <table>
        <tr>
            <td>
                Current password:
            </td>
            <td>
                @Html.PasswordFor(a => a.OldPassword)
            </td>
        </tr>
        <tr>
            <td>
                New password:
            </td>
            <td>
                @Html.PasswordFor(a => a.NewPassword)
            </td>
        </tr>
        <tr>
            <td>
                Confirm password:
            </td>
            <td>
                @Html.PasswordFor(a => a.ConfirmPassword)
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button type="submit">Change your password!</button>
            </td>
        </tr>
    </table>
}