@model Blog.Web.ViewModels.Blog.Page
@{
    Layout = "~/Views/Shared/Global.cshtml";
    ViewBag.Title = "Blog :: " + Model.BlogName;
}
@foreach (var p in Model.Posts)
{
    @Html.Partial("Post", p)
}
<div>
    @Html.RouteLink("Feed", RouteNames.Feed, new { blog = Model.UrlName })
</div>