@model Blog.Web.ViewModels.Blog.Post
@{
    // Since Markdown will handle making the h1 (otherwise it tries to make the Model.Title in a <p>) we can just throw this whole mess into it
    var h1String = "#" + Model.Title;
}
<div class="post-wrapper outer-container">
    @Html.Markdown(h1String)
    <div class="post-subtitle">@Model.PostDate.ToString("yyyy-MM-dd h:mm tt")</div>
    @Html.Markdown(Model.RawBody)
    <div class="post-footer">
        @Html.RouteLink("Permalink", RouteNames.Permalink, new { postIdentifier = Model.Identifier, urlTitle = Model.UrlTitle })
    </div>
</div>

